*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
body{
    background-color: #f1f1f1;
}
/*+++++++++++GLOBALES+++++++++++++++*/
.encabezado{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006fd6+0,004b84+53,004b84+53,0060b4+98,006fd6+98 */
    background: #006fd6; /* Old browsers */
    background: -moz-linear-gradient(top,  #006fd6 0%, #004b84 53%, #004b84 53%, #0060b4 98%, #006fd6 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #006fd6 0%,#004b84 53%,#004b84 53%,#0060b4 98%,#006fd6 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #006fd6 0%,#004b84 53%,#004b84 53%,#0060b4 98%,#006fd6 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006fd6', endColorstr='#006fd6',GradientType=0 ); /* IE6-9 */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 0px;
}
.empresa{
    display: flex;
    align-items: baseline;  
}
.empresa h2{
    color: #f1f1f1;
    font-family: 'Italianno', cursive;
    font-size: 80px;
    padding-left: 15px;
}
@media (max-width: 768px){
    .empresa h2{
        font-size: 50px;
        margin-top: 20px;
    } 
    .encabezado img{
        display: none;
    }
    .encabezado{
        padding: 0px;
        align-items: center;
    }
}
.encabezado img{
    max-width: 15%;
    border-radius: 8px;   
}
.sesion{
    line-height: 14px;
    color: #f1f1f1;
}
/*---------header-----------*/
h1{
    padding: 20px 0px 20px 0px;
}

.buscador{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.buscador ul li label{
    text-align: center;
    width: 120px;
}
.buscador ul li input{
    text-align: center;
    width: 210px;
}
.buscador ul li{
    list-style: none;
}
.bt-buscar{
    display: block;
    margin: 0 auto;
    padding: 10px 90px;
    text-align: center;
}
.buscador ul:first-of-type{
    padding-left: 0px;
}
/*---------------- BUSCADOR ALTERNO---------------*/

.table{
    margin-top: 20px;
    border: none; 
       
}
.comentario{
    display: block;
    width: 100%;
    padding: 0px;
    height: 60px;  
}
.table td, th{
    text-align: center;
}
.actualizar label{
    padding-top: 40px;
    margin: 0;
    font-size: 20px;
}

.enviar{
    margin-top: 15px;
    margin-left: 94%;
}